@use '../variables' as *;

div.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-bg-light;

  h1 {
    color: $light-text-muted;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
  }

  div.horizontal-line {
    width: 20rem;
    border-bottom: 1px solid black;
    margin: 2rem 0 2rem 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: $light-text;

    &:hover {
      text-decoration: underline;
    }
  }
}
