@use '../../variables' as *;

select.lang-select {
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid $border;
  background-color: $bg;
  font-size: 12px;
  font-weight: bold;
  color: $text;
  text-align: center;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 5px $light-bg-dark;
  }
}
