@use '../variables' as *;
@use '@angular/material' as mat;

div.container {
  height: 100dvh;
  color: $light-text;
  background-color: $light-bg-dark;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem 0 1rem;

  .card {
    padding: 1rem;
    border-radius: 30px;
    background-color: $light-bg;
    box-shadow: 0px 0px 5px $bg-light;
    max-height: 80dvh;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem 0 1rem 0;
    }

    .table-card {
      max-height: calc(80dvh - 10rem);
      border: 1px solid $light-border;
      border-radius: 1rem;
      background-color: $light-bg-light;
      box-shadow: 0px 0px 1px $bg-light;
      overflow-y: auto;

      @include mat.table-overrides(
        (
          background-color: $light-bg-light,
          header-headline-color: $light-text,
          row-item-label-text-color: $light-text,
          header-headline-weight: bold,
          header-headline-size: 16px
        )
      );

      p {
        font-size: 1rem;
        color: $light-text-muted;
      }
    }
  }

  a {
    color: $light-text;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
