@use '../variables' as *;
@use '@angular/material' as mat;

div.container {
  height: 100dvh;
  color: $light-text;
  background-color: $light-bg-dark;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem 0 1rem;

  .card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $light-bg;
    box-shadow: 0px 0px 10px $bg-light;
    width: 90vw;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      padding: 1rem 0 2rem 0;
      text-align: center;
    }

    .table-card {
      max-height: 70dvh;
      border: 1px solid $light-border;
      border-radius: 1rem;
      background-color: $light-bg-light;
      box-shadow: 0px 0px 1px $bg-light;
      overflow-y: auto;

      @include mat.table-overrides(
        (
          background-color: $light-bg-light,
          header-headline-color: $light-text,
          row-item-label-text-color: $light-text,
          header-headline-weight: bold,
          header-headline-size: 16px
        )
      );

      p {
        font-size: 1rem;
        padding: 0.5rem;
        color: $light-text-muted;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 1rem;

        th {
          font-weight: 700;
        }

        th,
        td {
          padding: 0.5rem;
          text-align: left;
          border-bottom: 1px solid $border;
        }

        .win {
          color: green;
        }
        .lose {
          color: red;
        }
        .tie {
          color: black;
        }
      }
    }
  }

  a {
    color: $light-text;
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.container {
    .card {
      .table-card {
        table {
          thead {
            display: none;
          }

          tr td {
            display: block;
            border: none;

            &:last-child {
              border-bottom: 0;
            }
          }

          tr {
            border-bottom: 1px dashed $border;
          }

          td {
            padding: 0.2rem;
          }
        }
      }
    }
  }
}
