@use '../../variables' as *;

div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  h1 {
    color: $light-text;
    font-size: 2.5rem;
  }

  .choice-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(1rem, 2vw);
  }
}

@media only screen and (max-width: 768px) {
  div.container {
    .choice-card-container {
      flex-direction: row;
    }
  }
}
