@use '../../../../variables' as *;
@use '@angular/material' as mat;

div {
  width: 150px;
  height: 150px;
  padding: 30px;
  border: 1px solid $light-border;
  border-radius: 30px;
  background-color: $light-bg-light;
  box-shadow: 0px 0px 2px $light-shadow;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: $light-text;

  &:hover {
    box-shadow: 0px 0px 10px $light-shadow inset;
  }

  &:active {
    transform: scale(0.95);
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: $bg
    )
  );
}

div.loading {
  cursor: wait;
  opacity: 0.5;
}
